// Place all the styles related to the intros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.introimage{
    margin-top:70px;
    margin-bottom:40px;
    width:300px;
}
.introname{
    margin-bottom:10px;
}
.introtext{
    margin-bottom:20px;    
}
.contact1{
    color:#515151;
    letter-spacing:0.07em;
    font-size:13px;
    margin-bottom:0px;
}
.contact2{
    color:#515151;
    letter-spacing:0.07em;
    font-size:13px;
    margin-top:5px;
    margin-bottom:40px;
}