<div class="container">
    <div class="row">
        <div class="col s0 m2"></div>
        <div class="col s12 m8 center">
            <%= image_tag("profileimg.jpg", class: "responsive-img circle introimage") %>      
            <h5 class="introname">박상범</h5>
            <p class="introtext">26.2 살아가는중</h5> 
            <p class="contact1">kakao : psangbum</p>
            <p class="contact2">insta : Godbaam</p>
            <ul class="collapsible" style="margin-bottom:60px;">
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">android</i>
                  코딩 잘해요?
                  <span class="new badge"></span></div>
                <div class="collapsible-body"><p>전공자아닌 전공자</p></div>
              </li>
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">place</i>
                  저는 어디 살까요?
                  <span class="new badge"></span></div>
                <div class="collapsible-body"><p>상수에 자취하니 언제든^____^</p></div>
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">attach_money</i>
                  저는요...
                  <span class="new badge"></span></div>
                <div class="collapsible-body"><p>돈많은 백수가 꿈입니다.</p></div>
              </li>
              </li>
            </ul>
        </div>
        <div class="col s0 m2"></div>
    </div>
</div>